#gallery_grid{
    display: grid;
    /*grid-template-rows:repeat(4, 1fr);*/
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 3fr 1fr;
}

.gallery_body{
    grid-row: 1;
    padding: 10%;
    text-align: center;
}

/*.gallery_buttons{*/
/*    grid-row: 2;*/
/*}*/


.gallery_image{
    width: 30%;
    height: 30%;
}

.header{
    text-align: center;
}

form{
    /*padding: 5%;*/
    text-align: center;
    margin: 15%;
}