{% extends 'passionApp/base.html' %}

{% block content %}
<!--{% load static %}-->
<div id="aboutUsBody">
<div class="header">
    <h1 class="animated bounceInDown">About M&M</h1>
    <hr/>
</div>
<div id="aboutUs_grid">
    <div class="aboutUs1">
        <h2 class="animated bounceInLeft">
            Founded in September 2018 by two adorable, artistic, comic book loving rebels: @Melaati Jayah and @Athena
            Baker, the M&M Club has dedicated itself to not only showcasing its members the world of manga (and other
            Asian/Asian based comic book styles) but also teaching its members that there’s more to Memphis life than
            what the media and tourist industry already came up with.
        </h2>
    </div>
    <div>
        <img class="aboutUs_image" src="/static/passionApp/images/athenaand13.jpg"/>
    </div>
    <div>
        <img class="aboutUs_image" src="/static/passionApp/images/athenaandi.jpg"/>
    </div>
    <div class="aboutUs2">
        <h2 class="animated bounceInRight">
            Manga and Manhwa has visited many jewels all around Memphis. Our first meeting was located at Java Cabana in
            the center of Midtown, and after that many more! We have met at around 10 coffee shops new and old as well
            as
            attended Cherry Blossom Festival and One time movie premieres of Mangas we have read.
        </h2>

    </div>
    <div>
        <h2 class="animated bounceInLeft">
            Whether it be reading manga at a local coffee shop or playing shiritori by the Mississippi River, anyone can
            have a good time participating in the club while learning more about the world of Memphis and Asian comic
            books.
            Manga and Manhwa Book Club celebrates the Culture, language and celebrations of the Japanese, Korean, and
            Chinese culture.
            We've played Go at the crosstown, written haiku's, made emas on New Years and read mangas from different
            genres.
        </h2>
    </div>
    <div class="aboutUs3">

        <img class="aboutUs_image" src="/static/passionApp/images/athenaandi2.jpg"/>
    </div>


</div>
</div>
{% endblock content %}