{% extends 'passionApp/base.html' %}

{% block content %}
<div id="discussion_header">
    <h1>Discussion Board</h1>
    <a href="{% url 'addDiscussion' %}">Stir up some Caos and Add a Post!</a>
</div>
<hr/>

<div>
{% for eachPost in allPosts %}
{{ eachPost.topic }}
<br>

{{ eachPost.date }}
<br>
{{ eachPost.image }}
<br>
{{ eachPost.entry }}
<br>
{{ eachPost.video }}
<br>
{{ eachPost.URL_link }}
<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Comment</button>
</form>


{% endfor %}
{% for eachComment in forms %}
{{ eachComment.comment }}
{% endfor %}

{% endblock content %}
