{% extends 'passionApp/base.html' %}

{% block content %}
<div class="header">
    <h1 class="animated bounceInDown">Adventures</h1>
    <a href="{% url 'addPhoto' %}">Add a Photo to the Gallery</a>
</div>

<hr/>
<div id="gallery_grid">
{% for eachPhoto in allPhotos %}

        <section class="gallery_body">
            <br>
            <h3>{{ eachPhoto.event }}</h3>
            <h5>{{ eachPhoto.date }}</h5>
            <img class="gallery_image" src="{{ eachPhoto.image.url }}">
            <h5>{{ eachPhoto.imageDetails }}</h5>
            <a href="{% url 'editPhoto' eachPhoto.id %}"><button>Edit Photo</button></a>
            <a href="{% url 'deletePhoto' eachPhoto.id %}"><button>Delete Photo</button></a>
        </section>
<!--        <section class="gallery_buttons">-->
<!--            -->
<!--        </section>-->
<!--    <section class="gallery_buttons">-->
<!--      -->

<!--    </section>-->





        {% endfor %}

</div>
{% endblock content %}



