{% extends 'passionApp/base.html' %}

{% block content %}
<div class="header">
    <h1>Welcome to Manga and Manhwa Book Club</h1>
    <a href="{% url 'addNani' %}">NANI?? share a post</a>
</div>
<hr/>

<div id="index_body">
{% for eachNani in allNani %}

    <section>
        {{ eachNani.topic }}
        <br>
        {{ eachNani.date }}
        <br>
        <img class="index_image" src="{{ eachNani.image.url }}">
        <br>
        {{ eachNani.entry }}
        <br>
        <a href="{{ eachNani.link }}">{{ eachNani.link }}</a>
        <br>
        <a href="{% url 'editNani' eachNani.id %}"><button>Edit Post</button></a>
        <a href="{% url 'deleteNani' eachNani.id %}"><button>Delete Post</button></a>
    </section>
{% endfor %}

</div>
{% endblock content %}
