{% extends 'passionApp/base.html' %}

{% block content %}
<div id="index_header">
    <h1>Welcome to Manga and Manhwa Book Club</h1>
    <a href="{% url 'addNani' %}">NANI?? share a post</a>
</div>
<hr/>

<div>
{% for eachNani in allNani %}
<br>
{{ eachNani.topic }}
<br>
{{ eachNani.date }}
<br>
<img src="{{ eachNani.image.url }}">
<br>
{{ eachNani.entry }}
<br>
<br>
<a href="{{ eachNani.link }}">{{ eachNani.link }}</a>
<a href="{% url 'editNani' eachNani.id %}"><button>Edit Post</button></a>
<a href="{% url 'deleteNani' eachNani.id %}"><button>Delete Post</button></a>
{% endfor %}

</div>
{% endblock content %}
