{% extends 'passionApp/base.html' %}

{% block content %}
<div id="library_header">
    <h1>Library</h1>
    <a href="{% url 'addBook' %}">Add a Book to the Library</a>
</div>
<hr/>

{% for eachBook in allBooks %}
{{ eachBook.title }}
<br>
<img src="{{ eachBook.cover.url }}">
<br>
<h1>Link:</h1><a href="{{ eachBook.link }}" target="_blank">{{ eachBook.link }}</a>
<br>
<a href="{% url 'editBook' eachBook.id %}"><button>Edit Book</button></a>
<a href="{% url 'deleteBook' eachBook.id %}"><button>Delete Book</button></a>
{% endfor %}
{% endblock content %}
