{% extends 'passionApp/base.html' %}

{% block content %}
<div class="header">
    <h1 class="animated bounceInDown">Library</h1>
    <a href="{% url 'addBook' %}">Add a Book to the Library</a>
</div>
<hr/>

<div id="library_grid">

{% for eachBook in allBooks %}
    <section >
        <h1 class="library_title"><a href="{{ eachBook.link }}" target="_blank">{{ eachBook.title }}</a></h1>
        <img class="library_image" src="{{ eachBook.cover.url }}">
        <br>
        <a href="{% url 'editBook' eachBook.id %}"><button>Edit Book</button></a>
        <a href="{% url 'deleteBook' eachBook.id %}"><button>Delete Book</button></a>
        <br>
    </section>

    {% endfor %}
</div>
{% endblock content %}
