{% extends 'passionApp/base.html' %}




{% block content %}
<div id="upcomingEvents_header">
    <h1>Upcoming Events</h1>
    <a href="{% url 'addUpcomingEvent' %}">Add an Event</a>
</div>
<hr/>


{% for eachEvent in allEvents %}
{{ eachEvent.event }}
<br>
{{ eachEvent.Date }}
<br>
{{ eachEvent.location }}
<br>
<img src="{{ eachEvent.eventFlyer.url }}">
<a href="{% url 'editUpcomingEvent' eachEvent.id %}"><button>Edit Event</button></a>
<a href="{% url 'deleteUpcomingEvent' eachEvent.id %}"><button>Delete Event</button></a>
<hr>
{% endfor %}
{% endblock content %}
